* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

html {
	background-image: -webkit-linear-gradient(top, #222222 80%, #fffacd);
	background-image:    -moz-linear-gradient(top, #222222 80%, #fffacd);
	background-image:      -o-linear-gradient(top, #222222 80%, #fffacd);
	background-image:     -ms-linear-gradient(top, #222222 80%, #fffacd);
	color: #fffacd;
}

img {
	float: right;
	max-width: 45%;
}

h1,h2,h3 {
	text-align: center;
	margin-top: 0;
}

#slide > dl,
#slide > ol,
#slide > ul {
	display: inline-block;
	margin-left: 0;
	padding-left: 0;
        margin-top: 0;
}

#slide > img {
    margin-top: 0;
}

body {
	padding: 0 2em 2em 2em;
}

#slide {
	margin: auto;
}

#counter {
	position: absolute;
	left: 1em;
	bottom: 1em;
	color: black;
}
